.stretchGoal {
    height: 400px;
    width: 370px;
    margin: auto;
    padding: 10px;
    border-radius: 1em;
    background-color: rgb(46, 180, 180);
    border: solid black 3px;
}

.displayScreen {
    width: 270px;
    height: 60px;
    border: solid black 2px;
    border-radius: 10px;
    background-color: rgb(209, 208, 208);
}

.screen {
    
}

.btn {
    width: 75px;
    height: 60px;
    margin-left: 280px;
}

.rowOfBtns {
    height: 65px;
    width: 75px;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
    font-weight: 600;
    display: inline-block;
    margin-left: 10px;
}

button {
    height: 65px;
    width: 75px;
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    border: solid black 2px;
    text-align: center;
    font-size: medium;
    font-weight: 600;
    margin: 3px;
}

